.chatView {
  position: relative;
}
.chatView > img {
  cursor: pointer;
}

.chatView > img:hover {
  opacity: 0.8;
}

.chatView__timer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  color: white;
}
