.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefc01;
  height: 100vh;
}

.app_logo {
  object-fit: contain;
  height: 125px;
}
.v{
    position: relative;
    
}
.app_phone_body{
    position: relative; 
    z-index: 0; 
    height:580px;
    width: 283px;
    user-select: none;
    
}

.app_body {
    padding: 10px; 
    max-height: 100%;
    overflow: visible;

}

.app_bodyBackground {

    background-color: #1F2833;
    z-index: 1;
    margin-top: -575px;
    margin-left: 10px;
    height: 560px;
    width: 270px;
    border-radius: 40px;
    
}
