.webcameCapture{
    position: relative;
}
.webcamCapture_button{
    position: absolute;
    bottom: -65px;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    color:white
}

.webcamCapture_button:hover{
    opacity: 0.8;
}

.webcameCapture_back{
    position: absolute;
    top:0;
    margin:5px;
    cursor: pointer;
    color:white
}

.webcameCapture_back:hover{
    opacity: 0.8;
}